Source: origami-zoo-free
Section: user/education
Priority: optional
Maintainer: Anna Samoryadova <samoryad@cs.karelia.ru>
Build-Depends: debhelper (>= 5), libqt4-dev
Standards-Version: 3.7.3
Homepage: http://oss.fruct.org/projects/origami

Package: origami-zoo-free
Architecture: any
Depends: libqt4-core (>= 4.7), libqt4-gui (>= 4.7)
Description: Origami is a traditional Japanese art or technique of folding 
 paper into a variety of decorative or representational forms, as of animals
 or flowers. In our application "Origami Zoo" you can find the most popular 
 animals which you can make using only one sheet of paper. Each figure comes
 with clearly illustrated steps and instructions. Restrictions of free version are 
 ad placement and only 6 figures.
XSBC-Maemo-Display-Name: Origami Zoo Free
XB-Maemo-Icon-26: 
 iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAABHNCSVQICAgIfAhkiAAAAAlwSFlz
 AAADbwAAA28Bwgx4hwAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAABP1SURB
 VHic1Zt5lB9Vlcc/r6p+v/otvaWXdPYNYthBwCDxoKCjCKJHUYLIBGRgXJgZxKPOkTEjymEGcVA8
 zuiAguM2CFEHR3EJGUXUGJEkkKABErLRCZ2mk15/S1W95c4f9etOd7o7dEJi9HvOO79fVb169e73
 3XffvfdVKRHhCEPd9MPu46omXuycOhOYC1KHp+oQilYoIFK0qAIiRSdkPKUqCsqeJxVPqbIIZaAM
 lJxjnxW70arg8QHl1q+4bFb1iHb25RLwuYc6W5+PzeWId5YTd3JseEVkpCkyEBlBO8EJOIHJPkop
 8Gol4ylygSIXQDZQNuOzA5GnnVMbtFI/+tq7Zz32cvp/uASoT/xw5/kV7X2gN5KL+6uuLjJCYl9O
 VyaPrA+5QNGQU+QD9QfjuCex4T3fXNZePtS2DomA767b1rhmh/++aiLL9lbk1P5IMO5QH3lkEXjQ
 mFM0hl7J83gwNvrOb1x1/BOTvX/SBNz+451LtvS6r+0ZkEVlfcTtxhFBMaNoKXrWE7n96++dv1zg
 JTs6GQL8f35wxw2bu+0tL5al7sh09eiirahozHmPxsot/eay4148WN2DEvDdNbuaV2/TX97SYy8v
 J3+eoz4RilnFtDq6rPOu/Pq1C34+Ub0JCVj97LP131jj/Xhrj5x3rOf54SLwYEa9Migu/tZ1C1eN
 V2ciAvx/vO+5f1v7gv3wX6rwQwg8mNOouiqBd+qKa47vHnN9vJs+87+b3/XUHvl7Y/6y1H48GAdd
 g9LeXi8PAK8/8PoYDfj6w0+d8NCzmVVdgzLrpRr3PbjkdGHHXo8NHYJiEmb3GKGtqChkufnbHzzh
 lpHnRxGwY8eO3L+sKn/3mS51ycEEedMpeWa3eLzrzIhCYPB8QVQjv96s2NodMFAVvvd479GS5bCg
 gDlNaLH+2fd9aNHGofOjpsAvnymfurOHC91BVoaz5iuWv6UbJNk/3A481c85c+Cc2UKYDVi8YB4f
 u3/fURHmcCBAd5nM1DrzYeCaofPeiDpqQ6e6shRJRpwwXpk9xbL8oj6SqEwcJSSJJkk0zkF3dx8D
 fXsRl6B1zLnH1cME7RyrUooEZ+XSpXfuyo8h4Lnnnmvdvte8DeeYqFz7mjJZ108cx2id4Jxjy64q
 W7ZsRSlHGIYkSYLWGkUnp8/OTNjWsSqDVdfgs+/qMQR8a83g2/aVZP5E7J0yXfOqWX0kSUKSJFin
 +Pj3m3jffTMZDBchIlSrVaIoQvkNIJolCzPHfNQPLH0VwVPq2lEErFmzJr99L5dqM/5NOOH1C3vY
 t6+HwcESq56p56IvtPP7rT7ihBu+kWN3d4QxhiiK8TwPXC9Lz7HHXOADizZCNXFnv+uO9acNE1Ao
 FJo7B+Q1E93knPDI5kbKSYYkSZhX6BhdR4TOjudYv/4pcrmQXC4NGTLeIEsWhsdc6APLYFUIRL19
 mIBHntYLo0QaxTkmKk/s8Pnkj+fygw3NSNzDja/ZNHzNWcfis09l7txZ7OnqRlwZay24KifNlAnb
 PFYlShw4czrUlsEX+u3pcey/pBPTM+gze2Y78+Zqkq6QxtDQV/EJAxAUrW0thLkWRGIAnHO0Fqvp
 avBn5CHFFpzlJEgJUD1lWeTcwXs4pSjcdqXmtNmGlU/N5JYVQY0w4ez5Fmct1hiUVBHnM+RgXfjK
 kFu/d0TTeC8bAhgrC97/lXWZ4OGHHy70luoXiJs46ll8vOVTl/axdW+eS+/I0dnrAfvrnzjLYYzF
 OkcQeKn6o1AKwqzmYG0fK0SJZPd0cnpQV1dXHKjwCplAAy5b3MfFrzR84SdFVm4c8h9G153ZGOGc
 wxpLsb4JZ6qIOEQUyqYrwZ8bokTIKHd2sH23bS0nwdwDO5kNhH94wwt09Ba45j9bhtX9QCgF5y4y
 lAccQZABl+BqKwMIOvnTE+B7YF9C6aJEaMi6M4KtPWa60Z4nB9xw0ckv8uTOHP+3qZGR6n4gBBAT
 Y4yhrr4Jaw3OOZRSAFgrf9IpoICf3TqXN35i50ENrzHgcO1epF192snRJUksq/7Q9JJraiErxDXv
 MKoOYK1DRHDOYp2lmvAnXeNPm1+gtb7Cze9pB5m4nrWCsq4uqCTSYO3YZeqhDe1MJrp/8xkWZx1x
 nDBlSuuw6jtJ8wOV6E83BRSw/N15UBnefi78/Il6Ht04MG5dm27UFAOjKTorh53IaGsUjDGUSiWa
 muqJ42j4mgCxTl3pybQ/rTnLJ9/jE4aNXPu5PYfcl9eenuP4af3pNpQqcsX5GX755PhPdoA4V/S0
 dXXuMD0qnONVCypoY8hm81hrUsFrWgBgjE1XhIO1I44lJ/l89+OWM+f1c8qMDu742/pD7s87zzWI
 0zhnwZVYchKcd8r47bjUgy0GSUxR7OGNvwDzpjq6uhIaGuqwNvUFhuaTiOB7ilnNo1OP1smwlbbW
 8eoTNH9/UQ+9+wy+56OU45RpfbxzSQsPrk61Z2iKKtIBPhALZ/m85iSL1pYoighzDSi6uPKCOh59
 YgItcFIIYiv5w52jrz1VKFcqVKOI9qmNWGuRESuAUorjZmT56Wfq0/VShFT5PPbbF1X7nQVYIEmv
 qRyfvsbyqWuy4HowWlOpVigNljDGcPN3poDfwvJlTVx5627+6d2gk5goivCDArlcCKqZJaf4NBYi
 +kp6TP+tkUKgjS2K8w+LgEUzHUYbKpUqbW0tVKupy5t6guB5HmEoiO1HeRkgA1RBHKigRoQDST1H
 FKByIDG4tC1xjmo1olxOidZJgu9n+cjSFk5d2IKze7n6zY2cOHMP5XKEE0VzSz3OVhGpsKWzQN9A
 PK4Nsk4KAcaNr1OTQBInGGMYHBhE62RYcKUUSZLQ1taGq51zJgKikXcPawoMqbgApeFjYzTlcpVy
 uUQcJxijaW2bQWvrDJAKYnbjrHD9JYbOzgoCtLW2oZMyQ674qt8PTrwKOUfgQ/lwpoBScPZCSxwn
 hLk8Wu83gHEcM2XKFEQc1inECamsQwILSincCAdpiICh83GcYFc+Ceu2Ub3sTDLNjcxbsAiPGGv6
 EEn7ECcJSoUMDAwwY8Y0kqS6/zkKhMzBCKgEyjdVcZlDJgAFJ8+zPP98RGtrc2pVncNaSxiGABhj
 anN/WMwDBKamBfv9EGMMcRyj7n2E1lsfovevX82ck08k8B3OlLGSGkVFGm5H1QjP85g5czramDT2
 kLRdz/f4/iNuQgJEqAQBUj4cV/VNixUDA2VK5QrzWlsxxqRCKEU2m007UxNw2P7VBB19LtUaESFJ
 EsqVCklHN8d/biXmzHnk7rgKZ2MSO/YNkyHCdaJxzqETnS7BtcYTF9I5ZjNsP5SYSuArV5qsozIS
 C6YLcRJTqVSYOrWVUqmEMZpisThsC4YwlBsYOedHXrPWpsKXK1QqVebftxZPW6r/dgVJjchRbdTI
 GxI4SRIymQxxnIwgV3jodz648RM9CsBRDnCmjBx6xubcE9MlZ3CwhNaaahSRz+WGhR9S09HCpleG
 iHDOobWhGkVUK1WKdUXm5RpoWPE41feeR/W4tjRq0RYy/jBhSimENAsd5kK0TgMwz/OI43i4Tqla
 YKJEj1LgnCsHgVIDiEPc2NGZCErBrFbL9u0xxWKRSqVKJsjUwuChqTBS8trxkIMEtYArHXVtDO1T
 2wjDLNlPfh+pz9H/D3+FGEPdXY+Q/d1z9PzXdangMkQClMsV/MDHWYfWDBtPpcDzfDr2CAdGucPw
 BGtdOQioDioJD4mATAb27eujr3+AtrbW2qgLbuhpw54gKE+NICAV3xhLFMeUSiXap7ZRLBapRhHx
 9i5a7n+Mvo9fTJLxIEnI/e96JBukBnX/EICCKI7IJ2FKPJDNZEh0gkIRhHkeWj2xbVNKwEkpmD7V
 dXpPOyfO8yasfQAuOMNQLpdxztHx/G5mz5pOkphRdUZuug6rvDisdVTKFXL5HNOnTUNEGBxM1/7m
 e3+FmdZA3zteiViDNxDhv9DHnn9/T7rMqlRzPM9LDWekafjcSrLP91A5dwGlpYvxPA8TJ2z/xG/5
 6lM7eKxpAV+dc/4YGTzf4ax0ee3FeG/ouZ1ihcmWX633aW5uYurUVjIZn309vWid7hNqY9BaY4zB
 WDt8rLUmiTUD/QM0N08hnwuHd5ISrbH7Bqn/n3V0X38+WhxJogl/+Qzxwqk03/EzZr31i8x+8xeG
 DSZbuzjx+gfIbOtm581vIXxsW2qH+mMW3vh9Zqx/mg+dcAUnDr6Ab+wYGQLlsFY96ZVKpXIuazYf
 StRVqjh+vi5HGGZpaGhg27adOCdYazDaYIxBa4PROs0WW4vWmnIlHflqtUqlUsUYi9YGaywND/ye
 ZGYTvecvqp0zBNteZNvdV9Lx2XeS7eihekI72hjcYJXZH/w2Np9h26fegtrTR9JWh44SZt/wHaov
 RFx98jVkjabiZdDCGBkCz+KsXut99KMfrdSHetuhZl5u/2aGSIcU6wp4SlGtVrHWpSNvLMaa2ugb
 4jg1doV8mlSN4wStDYlOXWlTiWh+YC0v/vU5WJcS5nX2U5nTjDGW7BPPgwidV52D0YbWux7F76nw
 7A2vRXX10/qdtex876tpvf9xws1d3LTwUkKjuXHnKm6b8+Zx+x8ol9iWhRs8QAqhe/ZwtrK/94sQ
 TykaGxvYum1HbU3WJFqjE43RhiRJqFYjstlsauiiGK2HpkX62/jQRmwuoPu8BURxTBzHTPv8KrqX
 zMfECdPu+hW9r1tI/5wmMn/cTduKdQycNoPCmq3UPbad7de9GnrLzLznt5QWtXNpy24u6VrHv858
 AxU83rXn8drIp/3GCb6y29befZYOAJrrkw2+l0Obya8EACtWZTnnpDwzmzX5fI6enl6KxWKa5EgX
 WrQxZIIM1qXaUQuUh9vIvjhA+/1reWHpmRhxiEDh+R50MYv1oXXlJsLdfWxZfiGIMO3bvwcnbH7f
 uezKOdqmtqBQzLt/HZ62/PSCxXzkd7PQTSHKaq7Yu4HfNB6PWAcqtfNBIDjHJqhtjZ02Z3DL6qeK
 /YnzGw+JAeArDxa55boBCvk8/QODhGGIkOYDtTEU8nmscyRJMiYo8gcjzlj2TZRx9LxqzvCGypwv
 /Zpnll+INYbWlZuozG1m4Pg2Gv7YifI9ktY6Nvt1rF3Xh5YKc6oxduMgLcrjw79sQ/s+yg9oMxFF
 q9mVmcLIrEqgLM6yAfa/H9AzpaBXH1zUWppLJI3nJY3jn9kOT+8sABBmM1QqFZRSGGPJ1TxDrTXO
 1oKlmv9uraW4qRNlHJ1vPYXW/3sWz/NYcO8aOt94IrsrAavXVTE7BtiUb2LFvZ2s/PJO3r+lnf5e
 w8c+b3ng5608+rBP/Q+e49OZ1wGKXNiGH7bQ6GW5vnst909dXBv5/VqXDy2i7A9gxEtSb3vv3dc+
 ua3pHusOcOFq+T0RVzt2tf+29t8SZhw3XlFl4WxDmLU0NdWTpvpSYSuR4cW9jl1dhq69CdootLYU
 tvfx2ZWreKBhFvOTMs9kG/nJlOP4TWEGQoCogGV9m/m7vU9wy/QLeLhpEUopPtuxEqM8dobN5MXw
 pWnnoVXATbtXMVWXeDrfTqON+PL011L2sqOG0feE9oZ47eMPXfWqUQTcdtttbd96ZM5j/ZXM/NEE
 pEIiFnF69LFYEIO4BN+zGFOLxsQxY2qGrr0aKyn72UwGUR7OeQgeSgX8c9djHJ/0cc38d/CFjpXc
 OPcSwEcpL7Uh1EZOqRG2I/UCM2LRauxrjoFYnPJwYyKRFPV5TS7rPvjkj5fdBSPeErvpppv2/mzd
 vT/sr2Q+NPY2BcqrpbX2a4Uazv6mDwuyDP/vrii8gsIfjgA9lFL4NSECHJf3b2b5nLfgZZposwle
 UDf6mQfBeMIDGHXw9F4+awfyxfw3ho5HtiKzm0v/3bGvcH2s/cx+wWsjMlyrNjiHhLE3/FXf0+Sc
 ZlXTSWkIO0G9I4kwY8G5//ntisuG9+tH+f8LZ/Y91VxXXTn2VrW/KDX6eFJlLK7oXstPp5xM7AXM
 iXvpCKe8bAFfCnU5rQ3enSPPjSLg5ptvjl4xo/djDYVk19HsSL2NeX3/Zn7UfAoAb+h7ltX1C47m
 I6nPJ6Dk1qd+etXGkefHRID33f2RZ+a09H00DOzYRPoRwqnl3fjieKI4G4VwUd8mVjWdcLQeRxhY
 coF+ZONPrr7lwGvjhsCN9lffm9Y0+B+eOjqbmmeUd9ERTqE3KHDZ3if4WdNJxN74Ru3lwlNCfS7q
 8lTd5eNeH+/kihUr7IktW29uaRj89dEgodFGaOXzzn1Pcn7/Fr4+9Zwj/gxIhW8sRMaJWrb+J5eN
 mx496CczS6+7s3l7Z/HLe8t1lyfmyI3QtGSAq198jF1hEw+0noVRk87FTBrZwFAXRl1O/Cv/+PDV
 h/7JzBCWLl3qdyTn39AzWH9LKQ7/Ij6aKoYxYaAfrZYyS59bvezwP5oaide9/fNLeqqNXxuM8ou0
 PTrz9eUi4xsK2dgqJbdvWvU3y2US2f5D+nBy6dLbG7cOTnmfdmpZRedOjXUWJ0fXeXkpeEoIMwlh
 kJQUPBhL5s4tq6468h9OHnjf2Zd88Xxjsx+IdXhxbLJ1xvlYd+Tn8njwvTSllQ0SfM/+QVD3ZNTs
 ezasfNPR/XR2PFzwnk+37uuZfjlwljh1snPeK4z4TSkhQ6TU8vmTdHUVQ3kDwfccvmcJPIunrPWV
 7AB5GrwNYrM/+uMvlh2Tj6cnblApdeaFXzpO22CxKM4U1FxE6pSiTqCIUBCliogqiFAUyChFRUFZ
 KakIUlaiyqj083kRtU9go1OZx8ulnvUdv/3wEX3v9v8BrtftgYgX0Q8AAAAASUVORK5CYII=
