Source: origami-zoo
Section: user/education
Priority: optional
Maintainer: Anna Samoryadova <samoryad@cs.karelia.ru>
Build-Depends: debhelper (>= 5), libqt4-dev
Standards-Version: 3.7.3
Homepage: http://oss.fruct.org/projects/origami

Package: origami-zoo
Architecture: any
Depends: libqt4-core (>= 4.7), libqt4-gui (>= 4.7)
Description: Origami is a traditional Japanese art or technique of folding 
 paper into a variety of decorative or representational forms, as of animals
 or flowers. In our application "Origami Zoo" you can find the most popular 
 animals which you can make using only one sheet of paper. Each figure comes
 with clearly illustrated steps and instructions.
XSBC-Maemo-Display-Name: Origami Zoo
XB-Maemo-Icon-26: 
 iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJ
 bWFnZVJlYWR5ccllPAAAAyJpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdp
 bj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6
 eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMC1jMDYwIDYxLjEz
 NDc3NywgMjAxMC8wMi8xMi0xNzozMjowMCAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJo
 dHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlw
 dGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAv
 IiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RS
 ZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpD
 cmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNSBNYWNpbnRvc2giIHhtcE1NOkluc3RhbmNl
 SUQ9InhtcC5paWQ6OTgwNDhFQTM5NzdDMTFFMTk4RkJENTA5QkUwMUYwOTkiIHhtcE1NOkRvY3Vt
 ZW50SUQ9InhtcC5kaWQ6OTgwNDhFQTQ5NzdDMTFFMTk4RkJENTA5QkUwMUYwOTkiPiA8eG1wTU06
 RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDo5ODA0OEVBMTk3N0MxMUUxOThG
 QkQ1MDlCRTAxRjA5OSIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDo5ODA0OEVBMjk3N0MxMUUx
 OThGQkQ1MDlCRTAxRjA5OSIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1w
 bWV0YT4gPD94cGFja2V0IGVuZD0iciI/Ps63FH8AABFBSURBVHja3FtpjBzHdX7VXd3Tc+7J5fJc
 kdSKpCiRkhiJOqz4AE3YgRNaEYw4UpwA+ZEA+ZE4DmAk/pUfsZAACiIpRn44QGQHsgAjsZFQVgwH
 TkRDkS1KoqSQIiWGIpfcJcW9zzl6+qjK96pnlrPLXc5wSYFLN1Hb093V3fW9eu97RzXF174/QEtt
 QojGA7IIxyL5vXR/6sCVDtzXg8O7lda3aU0bldJbNFFGadqG8169f4wTun4vmm0teK6PwzM4U7Ys
 MYBnX7CEOIfzx7XWo7hvCs+eWnIguMAPVvxH64bTesnukq5jwwC3C0vci/3uMFYPBpG+O4ypO1KK
 8JuiWFOIxmB537gFtfNUA+/aCwTgObbYy+exf1TimisFScvCMY3j93HHtl7H3ce00u9gf2qlGFYi
 ANaBxzG2x0Ol984W4/5KoKgcxRQCdBgRhRCAWKRJYomHNM56NVooIL92XJ85/uuwACR1O1J8OiPt
 T6ddiwpp67RjiaOQ5Q/Q5we1rq2DuQYTsIRFT+Doq5VQ3zlRDNPFqjIzG7E66+QeIa4Ee6M2Xddw
 /OH3yERDKJeyqCvnVNKOOIkuz2hFL8IEVCsm0JIAAH0HBPDX5UD9xngxFDOVmOKaiX2cgFsViNEm
 tLa0Td05R2dc6xDQ/znM44NmArCavQRC/m0Q2U+HZ4ODp0d9MV6MYLuX1Xh+IDehNY6Bx8Rj4zHy
 WHnMPPbr4gA8/E+qkXrmwnREPOtWIpDk9ZpW3cZjA3C6OB0SzHPDxnb5oiutHkz+s9csAEH6qyC3
 pwcnQ2KSmyfpVQh8kWciG222HNFApGhzp/O3abAkhv3MkkJTYOzFDQ950g/U352fCOwKiM4SdMtt
 PGYeO2NgLIxpKaxyCbXfDv/9zYvTgZl5fpDWdEtuzA+VgE0igCakvgkv+hawLIgZpFZ6gf5YZD09
 WYr6ZioR1F6sepVvqglojGWyZPetycmnlVa/3ohJNroHuL4nS9XoCyMzgbElfaujb+AFxpRx6Aue
 az0JzN9byg3a0IY/nTBuTpO4mf7tBjdRyz0YG2Os8eQiExDiIFzeDlYXcQuw/Uq0gLF1Zu0dKWkd
 BLH9cIEJWKS/NFkMs3FDHH8tERkHIvA6hjSldTlAWU0OhOeaMa5vc76E35cFgEH2h1rfX/JjziNb
 HnU9FEVyQg9vFfTgNuSwoza9PajpEoInvsZ5wqpxoxgPYwzz9v02iX4cnpbsC5Fz7y36ahtS2kTz
 W1R/pL70W/tS9OQ+SXlk+jZPvRYUBBYiMfibEUV//9MqXQIBrQYhaDNmTYy14Fl7ETWetmruck+l
 GiF/Z/VvjVmqoaYHtxJ95QGfcnKGRDyDp0/T3MwI+aWLlLFG6KHbA3psb578IF4VbMjYGCNjZcyM
 HSag2sJYPOiHymRMWrVmS7kUwO8LKCXgNUK4mZJDY7NV2pD3STquqQt4aPu2WtSesWpB1c1XA8bI
 WLmAA4G0SQilPYjUXSEYTLSg/3w1iAR9+VdC6iuUqFiy6OSoRy++adPIbIr++FM27dngU6USUi5r
 UcEr0YZ2SR98VCVXrgJvAACMNQjVXSkp2i24wbUQQHfAFC6aqxFnW57U1OZUKfbnaGC0Qs/9t0VH
 B6EFszb96+uzNDr8ESSdhFKFdER3b7RhMmqVBAWaGCtjZuzgJr0nimJjG0zbuknjvCpG3++8kaF/
 +J8clYuz9Js7L1FnOjY21t2eRj9F1YAJNSJLKrp3Mxf5LGIXq1t4x8fZGCNjZQywyD0SB31m9rmC
 pETLQcV0kejMTDs9tkZSNlehzve5ZuDQbWs86l23HsRnURQFppi5ocOmjR0WnR+PzPEqIAKjBXGk
 +tgNbjTVWd3awKAsZCOQ/OK9mp54KKb3LmbohZ+n4epgGrai23tiqoJlvUwBbhEd45iyrqZsitPP
 VRJhAiu7/FjFGyXAbwlC1VLOC29BPfmYDt4T0c51gv7mZZuOX7AMMBsONQPP0NcJcwL7Z21JJsy2
 2GRi0sbE6Ibn1vw4hT/2tQQaTIQhC8DawpFgVlP93/Ibj39je0Sf3+XT0KRD3/2FA3dC5NrgBTu5
 vqVbkGOFpAHesgUEExnFMqXyuPk7VoKei7fMLz6islbdrK5luoxdggy2RWGNA/TyN6QA8pNbZ+nw
 qSydGHYo5SiAr00ozwJMY1MHQMPuLUuShBCUCo0AFLiFCZBVpZU4o9WNw+wHtmXpnts8+tZPJijj
 tq4FUcjWqbaBA3Saw+GrqSZfyqYVHf4wQ0NTktIyUefGW/gROVfhwSFsn8PLxGVqK4nBagX9ZTmA
 rYW1iCFIu7VZ5L7770rT/rvz9OrJMh0bLBEvlrSUGJmSmE5bUAOl5we3dEOmSDMlQRenbKi4WrJP
 DBXf0p1oEgM3dl9zPfMCXqIJZmRoIA/7kzsytKkziRlEkzEpvG9rt6TP7LLJ82L68sN5SjuCmf2q
 99VbbWxKanXZ/zeT+HL1QZ69LAhwfVvEoRKlXNcIQBm/L4x2VKoxMjFlvEhjmsxrhJ05m/7wMy5A
 EL13IUVffzGmS1MRrwMmPc3Ch0iOawsx5aqiz9+TBvGWMYAqPbIzTbs3Z+itM0WYYHPt4T8x2FrW
 q6MLaoPXuDHJ3dFrU9oOKQwi6uhK18BrE3ZmUg49ujNH/es01FslaUltiYuF+tldgh7pF1RC+HxH
 j0V/9mseHXo76ScQTJGOkGcoGhzXZg2Rh3pHrwONsfC+KhhdUibr0u886sIMmI9UcxIUCMzCIKkI
 sRaI66BnFkA//H/agQCqZAiwWvUNQwd4fhdm+I8+l68Rpr5cbdTCFE+cFEAFcGU4a8HE9u+x6eGd
 NoIVnwK/TOVySOVKlb7z8yw9tKuXBkeRgbpF6s1Xaa6IOCOH6BMeZ+cGl5gHK0pTU4eQzACywVrR
 TGm94uoNZ7sbOuAp4AJ9xTYfG/B1s/I8uEWr0vBtgW4oSWK2EF9gQsxRciUmD89SUZkqfpEcnN2w
 pkB/9UQXuWmisQlJxbJFM3OlJOCyOY2P6cNhxPjMPS0VcrTBnNQEtV5xgMK3sYvMyJiCapWk9GD/
 0fzCQyaTMX1CVpMrFl+jGhvoeVbgewKo9dxcERmlT+l0mtra2/EcD918CiuKOrPQnLiKuyTAC2hb
 lTyw/7GBwCzRC9FKxJnwnkzsf+UcEJrZt02EOFMsUe/6NYYAOdlwHAczDzuFa2wlT+exlMtlKhaZ
 yGxqB/B8Pm8GGwR+ohtxol0Sz+Z7GDxft9H/jdNVwzkmPmnKAUbYWhpGUSvXAJ7Y9e2aerKw01lN
 rpsC4MAAl1IiLI6arN6I2qwHVCqVzJ5BZ7M5zK5ttGGBuQXJs5NrQTKLsJ2zkzFdnIhr7rMFza3h
 lsq44uZu8GomsAECyDoVCpy0sX+zyIAB1mOB5YA3zjrPJN/T3d1t9vwcNqW6dtT7cz8XbpbvY+Ga
 miaY7PyobVyjIN10Lo0GMPHbjpAIXSNoQ8powTWyIN/iIb1d26Zgr2WolT0/QwyeB1gfuFhEy3yO
 +1YqFXONuYLtPTGfeNnojQVQfxb3q1aRcmcE4gaODfTCjweuIgEMFe4yCqWKw/NCyDtNQLQCAXD8
 nZMhjY9PUq59bUOYqRbM9BV1Od83AqgDr5+rX19IlguFZtUiHb7GNYeSL+m9IXgGEGTGpab5hvmq
 BPF2VCkOS/ya0vHKTIC1Pe8hJF0D/z9rQZVLAN41D77+zEYQfI2BMj8UCgVzjme1UUvMEr353mih
 9vCMM6HyvXyeTcVDXnL0rKIjH4L8LN0SlRmaYNNxvTEZVUvDtsisiAQ5ihubEfTOoEMHdnTT+Yvj
 hsh4gFcjO7Zhbvy7LqyrkWRdkNy3UQBQYaTdDh09Z9EkIsWc12LBRSffFEU+a4BSA8JSK9IAnhcf
 Edzhk4Lu2wx/nU/T2Pg49a5de4Udm7C4Nvg68S3WjqXMZUEKC07hVnerwtZI0Dx6Be9PO7WSvmhN
 A5gsEQoPIQ6ILvCDVsIBvLHPPTEk6I0zgg7cmabKxByCmDlKpVILZpcFUrddBrAYaDPwJqyGqdTN
 wGggurtWQAVHUbGUfDKXfLYmWhAAclwdn7OLE0O59bsO/G4V6ng9i05D4xbt6YM7dEOEr4jMPG8+
 I6yDZxB18I2fqSRRmZqv2opaAR9GY7JA84UPzrOniUyoK0zKPTxZoed/PE7nhqvQDPCGVY8oxVXn
 kqch42Xo+KGnnoUbjIbioFzB4NIrWRk2K6x48cgM0cvv2vR7j8C2w5IhxCQoChERypp/jk3tkAFZ
 VvJRJe+5PscRXD1D5PoAf2qb7JNvfSZmIhocKdHItKLxOUHlwKaxOYtKURrvSZPtuHieTKDr5Utv
 2owXbjpAcq7UWfGrf/B8D4zpx4HM38cvvLr21IsJND9r9eyOAxdHxPT7nwpoe29AyICpq7OAvQ33
 FEBFOaOLqOzH8Nex2ZfgtvyQiy3KuDBENHCtNs2WFc2UufQO4HO45kNqtksSZmVjb0uuOXKziT9f
 NZmUaJh1sfzCvMldMCYZTBxHCHBATpx7dyLbtelNp7v9PqoVMZslEBpgTYuDy7/Rqghbv/1SSJu7
 FXmwy1ymjNmRNId01keQwoGKH3DAghYkrRqyGjgmthcAxbPIRGnXW8FCTmAtYddi0cQ0OADzQy3v
 ASyXKtMjb86NDYzLU4f/MV57xyfe7t9/J1XIb5oU6YY3CcFfEINMLGkEYEmXqogpTo5dLlezRC3o
 PXOAmTHeI3q0wJ55/C5YojZ7oqHWt/BTel2Pum5ATdkkUhD0pfdfOTp86tVIylQWBFJ9VwXFcUuI
 7riZXzZ/LAOeVXbxjPAZrymT6MWFiQXQlvt9IzaeABXMjSOCfMvx8mR3bbmf4sifcLzco17Hpn7O
 5G7MpwjNvvK9OUtiKXinuQvv/mx2+NRz6bZ1kRw59TO+5HvZ7h8VNtyzH+Nz9I0s3q+ijdXfVmE8
 ce7of4yfOWISD7tj0x5Kt/VCCyoXCmtuf8x2c13LZWO3+uZyfaI4PDD8/n/9hZvpmE3lushm8CZS
 C/0ifFkmv7Z/P/vkX8bNg/sbfu9Hz43+36uHwso0BeWpK9iqY/cXn3rF7diyh12aEOKXAji77hSC
 smBq4Nixf/vG53DqUv3a4kUo358bGevqewCd7NRq+KDhRjRpwf3qcPbsa9/+WnVu9I1GwFeswqHD
 KYSJ7V199z8S1wqmt/Jnslxc5dkfPPLdZycGXv/WYje01DKkLo2ffUfY9vpC747dZoHzFvUKDN5F
 HjJ8/N9fuHT8pb/EqeLiPsutw1bmhk/+AmFpb1vvzt310vktM+285IaAx0V4PXz80AsfvfMvX8eF
 kaWAXm0hugghvBb507n82u3bLdtJKXaPLay83uzGuYRQ1dmLR7/3T8MnXv4GTo4sB7LZSnypPDFw
 uDR2dtQrrN+Synb2cBg8n7uvsiCHP8ywMfOVyXMnho48/9T04JtP49J009C+pfKfsPf27PjsV9o2
 P/i4m+/tJduzVC0bvKnAmeGRIlPsx8HcyMjM4Os/HP3gP/9Z6/jo8inhtQugvrW5qcyuwuaHDmZ7
 dhxId93eJ72ODm0qO6EpeHzs/8HIVIs5q3RMJhr5U1OViQ+HSqMf/GT63KsvRWFwAr0mr6WueU0v
 dyRXefw0fm/KdvV/wsl27cuu2b413bntNpluX29JL2O0Ql8mJL2ivK6WIIukxGWAY7ZV5JejyvRH
 lckz50pjp86GpYkjpYnTr+E9Q+hYXklh99oE4HgUBpXGsylhyXUyVdhhSbcPucSm/Lo9m2S6c430
 Ch047sHAXeFkepBCO80FwcVRFeqwPApBBnFQHI382amoMjk2d+l/h3A8qKLgQlSdPaVVxKCvK339
 fwEGAJJf7bLjU6ocAAAAAElFTkSuQmCC
